/**
    Styles applied to the ListItem component
 */
.todo-item {
    width: 300px;
    background: white;
    margin: 10px;
    flex: 0 0 100px;
    position: relative;
    border-radius: 10px;
    padding: 8px;
}

/**
    Styles applied to the delete button inside the ListItem component
 */
.delete-button {
    position: absolute;
    top: 16px;
    right: 8px;
    background: white;
    color: black;
    outline: none;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
}
